body {
	background: linear-gradient(-45deg, #7fcdff, #1da2d8, #76b6c4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html,
body {
    height: 100%;
}

#topbar{
    background-color: black;
	height:40px;
}

#wrap{
	width:50%;
	margin:0px auto 0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#D4EDF7;
    border: 10px solid #384fa0;
}

.wrap {min-height: 100%; background: red;}

#header{
	height:242px;
	clear: both;
    margin:5% 0px 5% 0%;
}
#topmenu {
	display:block;
	list-style:none;
    margin:0px 0px 0px 0%;
	padding:0 0px 0px 0%;
	float: center;
	background-color: #384fa0;
	position: fixed;
}
#topmenu li {
	display:inline;
}
#topmenu a {
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px 50px;
	text-decoration:none;
	padding:9px 0% 0px 20px;
	text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
	color:#FFFFFF;
}
#topmenu a:hover{
	color:#ffffff;
    font-family: s;
	border: 1px solid #7fcdff;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
	color:#384fa0;
	background-color: #7fcdff;
}

#content {
	background:linear-gradient(to right, transparent, #7fcdff, transparent);
}
#mainpage {
	width:100%;
	float:center;
	padding:5px 0% 5px 0%;
	height:auto
}
#mainpage p {
	line-height:22px;
	margin:10px 0px 22px 0px;
	text-align: justify;
}
#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:5px;
	font:Tahoma, Geneva, sans-serif; 
	font-style:italic;
}
h1, h2, h3, h4, h5 {
   
	color:#0d9cff;
	font-weight:bold;
	font-family: Tahoma, Geneva, sans-serif;
    -webkit-text-stroke-width: 0.0px;
    -webkit-text-stroke-color: #0d9cff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #7fcdff;
}

div.somelink
{
    display:inline-block;
	
	width: calc(100% * (1 / 15));
    height: calc(100% * (1 / 2));
}

div.somelink:hover
{
	width: calc(100% * (1.5 / 15));
    height: calc(100% * (1.5 / 2));
}

div.somelink img
{
  	width:100%;
    height:100%;
}

div.tool img
{
	width:100%;
	height: auto;
}

div.sketchfab-embed-wrapper iframe
{
	
	width: 100%;
	height: calc(attr(width) / 2);
	
}

#mainpage h1 {
	font-size:24px;
    text-align: center;
}
#mainpage h2 {
	font-size: 25px;
	padding-top: 20px;
    padding-bottom: 5px;
    
	border-bottom: 5px solid #0d9cff;
}

#mainpage h3 {
	font-size:20px;}
#mainpage h4 {
	font-size:18px;}
#mainpage h5 {
	font-size:16px;}


table {
border-spacing: 5px;
}

table, th, td {
border:2px solid #11ebff;
padding: 15px;	
}
th {
text-align: left;
}

table#t1 {
width: 75%;
background-color: yellow;
border: 1px;
}

.center 
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#map
{
	height: 500px;
	width: 500px;
}
/* Drag and drop*/ 
#DD {
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
    float: left;
    width: 30px;
    height: 50px;
    z-index: -1;
    
    /*margin: 0px;*/
    padding: 10px;
	border: 1px solid black;
}

div.gallery {
    background-color: darkslateblue;
  margin: 5px;
  border: 1px solid #110934;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
    width: 200px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {

  padding: 15px;
  text-align: center;
}

@keyframes bubble-rise {
    0%     
    {
        top: 100%;
       
        transform: scale(0.1);
        
        border: 1px solid #1da2d8;
    }
    100%   
    {
        top: 0%;
        
        transform: scale(1.0);
        
        border: 5px solid #7fcdff;
    }
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_circles */
.bubble01
{
    display: block;
    background: #1da2d8;
    left: 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    
    position : relative;
    animation: bubble-rise 16s infinite;
}

.bubble02
{
    display: block;
    background: #55ACEE;
    left: 15%;
    width: 60px;
    height: 60px;
    z-index: -1;
    
    border-radius: 50%;
    position : relative;
    animation: bubble-rise 12s infinite;
    
}

.bubble03
{
    display: block;
    background: #55ACEE;
    left: 25%;
   width: 60px;
    height: 60px;
    z-index: -1;
    
    border-radius: 50%;
    position : relative;
    animation: bubble-rise 20s infinite;
    
}

.bubble04
{
    display: block;
    background: #55ACEE;
    left: 75%;
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    position : relative;
    animation: bubble-rise 14s infinite;
    
}

.bubble05
{
    display: block;
    background: #55ACEE;
    left: 84.5%;
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    position : relative;
    animation: bubble-rise 18.25s infinite;
    
}

.bubble06
{
    display: block;
    background: #55ACEE;
    left: 95%;
   width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    position : relative;
    animation: bubble-rise 16.33s infinite;
    
}

#footer
{
	margin:0 auto;
	width:50%;
	height:8%;
	padding:5px;
	color:#11ebff;
	text-align: center;
    text-align-last: center; 
	background:#0d92ff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	clear: both;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
